{% extends 'base.html' %}


{% block content %}
	<div class="row">
		<div class="col-md-4">
			<img src="http://fillmurray.com/300/300" alt="" class="img-responsive">
		</div>
		<div class="col-md-8">
			<div class="well">
					<h2>Summary</h2>
					{% for sum in summary %}
					<p>{{ sum.text }}</p>
					{% endfor %}
			</div>
		</div>
	</div>
	
	<hr>
	<div class="well">
			<h2>Experience</h2>
			{% for exp in experience %}
			<p>{{ exp.exp_title }}</p>
			{% endfor %}
		
	</div>
	<hr>
	<div class="row">
		<div class="col-md-4">
			<div class="well">
					<h2>Education</h2>
					{% for sch in school %}
					<p>{{ sch.school_title }}</p>
					{% endfor %}
				
			</div>
		</div>
		<div class="col-md-4">
			<div class="well">
					<h2>Skills</h2>
					{% for sk in skill %}
					<p>{{ sk.skill }}</p>
					{% endfor %}
				
			</div>
		</div>
		<div class="col-md-4">
			<div class="well">
				<h2>Certifications</h2>
				{% for cert in certification %}
				<p>{{ cert.cert_title }}</p>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}